/*.main .preview {
  margin: 17px 17px;
  padding: 0.5px 1.2px 2.9px 0;
  display: flex;
  flex-direction: column;
}
.main .preview .image {
  width: 329.4px;
  height: 307px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;

}

@media screen and (min-width: 768px) {
  .main .preview {
    flex-grow: 0;
    padding-top: 21px;
    margin: 0 48px 0 77px;
    height: 600px;
  }
}


.main .preview .autor {
  background-color: $white;
  color: $greyish-brown;
  transform: translateY(-50px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 5px 25px 5px;
  overflow-y: scroll;

}

.info-project {
  width: 60%;
}

.main .subtitleCard {
  font-weight: 300;
}

.info-project .subtitleCard {
  text-align: center;
  font-family: $poppins;
}

.subtitleCard {
  color: $dark;
  line-height: 1.17;
  font-size: 8px;
}
.info-project .line {
  border: 0;
  height: 1px;
  background-image: $line-card-gradient;
}

.info-project .title {
  color: $black;
}

.title {
  font-size: 14px;
  font-weight: bold;
  font-family: $catamaran;
  padding-bottom: 2px;
}

.info-project .slogan {
  margin-bottom: 10px;
}

.slogan {
  color: $greyish-brown-two;
  font-family: $poppins;
  font-weight: 500;
  font-size: 10.3px;
}

.info-project .desc {
  font-size: 8px;
  font-family: $poppins;
  line-height: 1.5;
  color: $greyish-brown-88;
}

.technologies {
  display: flex;
  background-color: $white;
  font-size: 11px;
  padding-top: 18px;
  font-family: $catamaran;
}

.globe {
  border: solid 1px $icon-border-card;
  border-radius: 20px;
}

.github {
  border: solid 1px $icon-border-card;
  border-radius: 20px;
}

.info-autor {
  width: 40%;
  text-align: center;
}

.imageCard {
  border-radius: 50%;
  height: 80px;
  padding-top: 10px;
}
.info-autor .job {
  color: $warm-grey;
  font-size: 8.8px;
  font-family: $catamaran;
  padding-bottom: 5px;
}

.info-autor .name {
  font-size: 11.6px;
  font-family: $catamaran;
  font-weight: bold;
  color: $black-80;
}
*/
.main .preview {
  margin: 17px 17px;
  padding: 0.5px 1.2px 2.9px 0;
  display: flex;
  flex-direction: column;
}
.main .preview .image {
  width: 329.4px;
  height: 307px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
}

@media screen and (min-width: 768px) {
  .main .preview {
    flex-grow: 0;
    padding-top: 21px;
    margin: 0 48px 0 77px;
    height: 600px;
  }
}

.main .preview .autor {
  background-color: $white;
  color: $greyish-brown;
  transform: translateY(-30px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 5px 25px 5px;
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    transform: translateY(-90px);
  }
}
.autor {
  width: 90%;
  margin: auto;
  @media screen and (min-width: 768px) {
    height: 250px;
  }
}
.info-project {
  width: 60%;
}

.main .subtitleCard {
  font-weight: 300;
}

.info-project .subtitleCard {
  text-align: center;
  font-family: $poppins;
}

.subtitleCard {
  color: $dark;
  line-height: 1.17;
  font-size: 8px;
}
.line {
  border: 0;
  height: 1px;
  background-image: $line-card-gradient;
}

.title {
  font-size: 14px;
  font-weight: bold;
  font-family: $catamaran;
  padding-bottom: 3px;
  color: $black;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.slogan {
  color: $greyish-brown-two;
  font-family: $poppins;
  font-weight: 500;
  font-size: 10.3px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.desc {
  font-size: 8px;
  font-family: $poppins;
  line-height: 1.5;
  color: $greyish-brown-88;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.technologies {
  display: flex;
  font-size: 11px;
  padding-top: 18px;
  font-family: $catamaran;
  @media screen and (min-width: 768px) {
  }
}
.textTec {
  color: $greyish-brown;
}
@media screen and (min-width: 768px) {
  .textTec {
    text-align: center;
    background-color: $textTec-bgd;
    width: 120px;
    padding: 8px 24px 6px;
    border-radius: 12px;
    font-size: 14px;
  }
}
.globe {
  border: solid 1px $icon-border-card;
  border-radius: 20%;
}

.github {
  border: solid 1px $icon-border-card;
  border-radius: 20%;
}

.info-autor {
  width: 40%;
  text-align: center;
}

.imageCard {
  border-radius: 50%;
  height: 80px;
  padding-top: 10px;
}
.info-autor .job {
  color: $warm-grey;
  font-size: 8.8px;
  font-family: $catamaran;
  padding-bottom: 5px;
}

.info-autor .name {
  font-size: 11.6px;
  font-family: $catamaran;
  font-weight: bold;
  color: $black-80;
}
