.main .preview {
  //width: 60%;
  padding: 20px;
}

.main .preview {
  padding: 20px;
}

.main .preview .image {
  object-fit: cover;
  width: 100%;
  height: 80%;
}
// .main {
//   &__preview {
//     width: 80%;
//     margin: 10px 10px;
//     display: flex;
//     flex-direction: column;
//     padding-top: 200px;

//     &--image {
//       object-fit: contain;
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;
//       width: 90vw;
//       height: 30vh;

//     }
//   }
// }
// @media screen and (min-width: 768px) {
//   .main {
//     &__preview {
//       margin-left: 60px;
//       &--image {
//         width: 70vw;
//         height: 100%;
//       }
//     }
//   }
// }

.main .preview .autor {
  background-color: $white;
  color: $greyish-brown;
  transform: translateY(-50px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 5px 25px 5px;
  overflow-y: scroll;

}

.info-project {
  width: 60%;
}

.main .subtitleCard {
  font-weight: 300;
}

.info-project .subtitleCard {
  text-align: center;
  font-family: $poppins;
}

.subtitleCard {
  color: $dark;
  line-height: 1.17;
  font-size: 8px;
}
.info-project .line {
  border: 0;
  height: 1px;
  background-image: $line-card-gradient;
}

.info-project .title {
  color: $black;
}

.title {
  font-size: 14px;
  font-weight: bold;
  font-family: $catamaran;
  padding-bottom: 2px;
}

.info-project .slogan {
  margin-bottom: 10px;
}

.slogan {
  color: $greyish-brown-two;
  font-family: $poppins;
  font-weight: 500;
  font-size: 10.3px;
}

.info-project .desc {
  font-size: 8px;
  font-family: $poppins;
  line-height: 1.5;
  color: $greyish-brown-88;
}

.technologies {
  display: flex;
  background-color: $white;
  font-size: 11px;
  padding-top: 18px;
  font-family: $catamaran;
}

.globe {
  border: solid 1px $icon-border-card;
  border-radius: 20px;
}

.github {
  border: solid 1px $icon-border-card;
  border-radius: 20px;
}

.info-autor {
  width: 40%;
  text-align: center;
}

.imageCard {
  border-radius: 50%;
  height: 80px;
  padding-top: 10px;
}
.info-autor .job {
  color: $warm-grey;
  font-size: 8.8px;
  font-family: $catamaran;
  padding-bottom: 5px;
}

.info-autor .name {
  font-size: 11.6px;
  font-family: $catamaran;
  font-weight: bold;
  color: $black-80;
}
